/* 
    This is a base app typescript file meant to b e modified
*/

h1 {
    color: red;
    font-weight: bold;
    text-decoration: underline .375rem;
    padding: 15rem 0rem;
    background-color: beige;
    
}

h3 {
    padding: 1rem 0rem;
    background-color: bisque;
}
